.index-body {
  background-color: aqua;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.shop-body {
  background-color: blueviolet;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.contacts-body {
  background-color: crimson;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.navigation {
  font-size: large;
  border: 2px solid black;
}

.nav-list {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
}

.title {
  display: flex;
  justify-content: center;
}

.box-shop {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.box-shop > div {
  border: 2px solid black;
  padding: 10px;
}

.box-contacts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.box-contacts > div {
  font-size: larger;
  margin: auto;
  margin-bottom: 30px;
}
