.index-body {
  background-color: aqua;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.shop-body {
  background-color: blueviolet;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.contacts-body {
  background-color: crimson;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.title {
}

